/*전체 적용*/
* {

    margin: 0;
    padding: 0;
}
main {
    padding: 20px;
    background-color: #D9D3CC;
    display: flex;
    justify-content: space-between;
    
    /* flex-wrap: wrap; */
}
main > section {
    margin: 20px;
    text-align: center;
    display: flex;
    width: 25%;
    
}
main img {
    border-radius: 50%;

}
